%br
%center
  %h1
    %a{ :href => "http://www.americanstandard-us.com/Microsite/WaterEfficiency/", :id => "as_calculator", :target => "_blank" } American Standard Water Savings Calculator
  %br
  %a{ :href => "http://www.americanstandard-us.com/Microsite/WaterEfficiency/", :id => "as_calculator", :target => "_blank" }
    %img{ :src => "/images/calculator.jpg", :title => "Visit the American Standard Water Savings Calculator" }
  %br
  %br
