#sidebar.txtcenter{:style => "padding: 0; margin: 0;"}
  %h2
    Our mobile showroom is traveling from community to community to save 18 billion gallons of water!
  %h2{:style => "text-align: left;"}
    %img{ :src => "/images/content-water-people.png", :alt => "water-people"}
    %a{ :href => "http://www.theresponsiblebathroom.com"}
      %img{:src => "/images/amstd_rb_logo.png", :alt => "responsible bathroom tour"}
#maincontent
  %div
    %img{ :src => "/images/content-globe.png", :width => "500", :alt => "water-people" }
  %br
  %br
  %h1
    A Stylish Way to Conserve Water
  %p
    American Standard Brands, the manufacturer of products with style that works better, is on the road helping you find solutions to our current water crisis. We all care about saving water; American Standard offers you innovative solutions to do just that.
  %p
    The formula is simple: the less water we use now, the more water we have for the future.
  %p
    Bathrooms account for 75% of indoor water use, so it is important we learn how to save water in our bathrooms!
  %p
    The Responsible Bathroom tour brings innovative water-efficient products to our wholesalers, plumbers and consumers across the country. American Standard's products save water and money without any sacrifice in performance.
  %p
    Our mission is to help the nation conserve water by installing water-efficient products. We will track our sales and gauge the water saved through our efforts.
  %p
    You can track our savings on our Website tally -- we will update the products sold at each of our events across the country. Watch us travel the country as we save billions of gallons of water.
  %p
    Help us meet our goal of 18 billion gallons Saved! Click
    %a{ :href => "/our_goal" }
      here
    for more information.
  %p
    See our water-efficient Products
    %a{ :href => "http://www.americanstandard-us.com/Microsite/WaterEfficiency/productListing.aspx", :target => "_blank" }
      here
  %p
    Dripping, leaky faucets,  3.5 gpm or higher toilets with large tanks, and running toilets can waste HUNDREDS of gallons of water a day.  When you retrofit an existing showerhead, toilet and faucet with our water-saving versions you can save 20% or more water than current building codes require. The Responsible Bathroom Tour brings the message of performance without sacrifice into the home.
  %p
    American Standard products give you a great shower, effective hand-washing, a clean flush and a clear conscience.
  %h2
    Water-Saving Tips for the Bathroom
  %ul
    %li
      Turn off the water while brushing teeth or shaving
    %li
      Take shorter showers
    %li
      Don't use the toilet as a wastebasket for cigarettes or bits of trash
    %li
      Use low-flow faucets, showerheads and toilets
  %p
    For more tips go to
    %a{ :href => "http://www.americanstandard-us.com/", :target => "_blank" }
      American Standard
    \.
  %p
