%h1
  Links
%p
%p
  We care about water conservation and are partners/ members of the following agencies that are helping save water.
%p
  %a{ :href => "http://www.americanstandard-us.com/", :target => "_blank" }
    American Standard Home Page
%p
  %a{ :href => "http://www.americanstandard-us.com/water-efficiency/rebate-locator/", :target => "_blank" }
    American Standard Rebate Locator
%p
  %a{ :href => "http://www.americanstandard-us.com/water-efficiency/product-listing/", :target => "_blank" }
    American Standard Water Efficient Products
%p
  %a{ :href => "http://www.americanstandard-us.com/water-efficiency/", :target => "_blank" }
    American Standard Water calculator
%table
  %tbody
    %tr
      %td
        %a{ :href => "http://www.epa.gov/", :target => "_blank" }
          %img{ :title => "EPA", :src => "images/EPA_Logo.png", :alt => "EPA" }
      %td
        %a{ :href => "http://www.epa.gov/watersense/", :target => "_blank" }
          %img{ :title => "WaterSense", :src => "images/Water_Sense_Partner_Logo.png", :alt => "WaterSense" }
      %td
        %a{ :href => "http://www.usgbc.org/DisplayPage.aspx?CategoryID=19", :target => "_blank" }
          %img{ :title => "LEED", :src => "images/Leed_Logo.png", :alt => "LEED" }
      %td
        %a{ :href => "http://www.responsiblebathroom.com", :target => "_blank" }
          %img{ :title => "Responsible Bathroom", :src => "images/responsible_bathroom_logo.gif", :alt => "Responsible Batroom" }
    %tr
      %td
        %a{ :href => "http://www.nature.org/", :target => "_blank" }
          %img{ :title => "Nature Conservancy", :src => "images/Nature_Conservancy_Logo.png", :alt => "Nature Conservancy" }
      %td
        %a{ :href => "http://www.professortoilet.com", :target => "_blank" }
          %img{ :title => "Professor Toilet", :src => "images/Professor_Toilet_Logo.png", :alt => "Professor Toilet" }
      %td
        %a{ :href => "http://www.allianceforwaterefficiency.org/", :target => "_blank" }
          %img{ :title => "Alliance for Water Efficiency", :src => "images/Alliance_for_Water_Efficiency_Logo.png", :alt => "Alliance for Water Efficiency" }
