#sidebar
  %img.fltlft.clearlft{ :src => "images/content-globe.png", :alt => "globe", :width => "350" }
  %img.fltlft.clearlft{ :src => "images/content-water-people-sm.png", :alt => "water-people" }
  %p
    \&nbsp;
#maincontent
  %h1
    Our Goal
  %h2
    18 Billion Gallons of Water!&nbsp;
  %br
  %h3.hilite
    Did you know that&hellip;
  %ul
    %li
      Our bodies are 70% water, just like the surface of the Earth?
    %li
      ONE leaky faucet can waste 200 gallons a day?
    %li
      Water efficient products save money, water and energy?
    %li
      Water is a precious resource &ndash; one we cannot live without.
  %p.hilite
    The droughts and yearly shortages of rainfall are warnings that our water supply is in jeopardy! We have to do our part to conserve this precious resource.
  %p
    This Water Conservation Tour helps the environment save water with every sale of faucets and fixtures. By replacing or installing water efficient products, the planet&rsquo;s resources are a little safer. By turning off the faucet while we brush our teeth or running the dishwasher only when it&rsquo;s full, we can do our part. We can also insist that our kitchen and bath faucets and fixtures are water efficient. American Standard&rsquo;s products are stylish, high-performing and environmentally friendly. We are on the way to saving water!
  %span.hilite
    These products&hellip;
  %ul
    %li
      save water,
    %li
      which saves the energy to get the water clean,
    %li
      which saves you and your community money
  %p
    American Standard is a leader in innovation and technology in water efficient products, so it will be possible to reach our goal. We've developed products that do a lot more with less and pay for themselves many times over.
  %p
    As sales of water efficient products replace older or less efficient products, the number of gallons saved will add up.  The Responsible Bathroom Tour will travel the country making over 100 stops this year. Our customers are seeing how easy it is to save what is important to all of us: money, water and our future resources.
  %p
    With American Standard, saving water no longer requires a sacrifice.
