!= stylesheet_link_tag "wholesaler_greeting"
#wholesaler_greeting
  %p.bold.larger Welcome!

  %p You are on your way to increasing your sales by inviting your customers to your Responsible Bathroom tour event!
  %p It will be a special day featuring American Standard's water efficient products.
  %p You can offer your community what they want &ndash; water efficient plumbing products that feature high performance and style!

  %p.bold This site will help you:

  %ul
    %li Enter your plumber's contact information so we can send them postcards on your behalf ( addressed from you) inviting them to the event as well as updates throughout the tour
    %li Discover if your market offers a water efficient product rebate for consumers
    %li Download marketing materials 
    %li Download directions or a map for your location so people can find your event
    %li View photos of your event
    %li Read all about the feedback and reviews from your event
