.block
  .description
    != link_to "Published Testimonials", testimonials_published_testimonials_path
    |
    != link_to "Unpublished Testimonials", testimonials_unpublished_testimonials_path
    | 
    != link_to "Unpublished Wholesaler Testimonials", testimonials_wholesalers_testimonials_path
    |
    != link_to "Add New Testimonial", new_testimonials_path
